*~
*.swp
*.eps
*.pdf
*.tex
*#
!/tools/pre_documents/*.tex
!**/picture/*.tex
/tools/downloads/
/tools/external/
config.ini
/temp/
*.sav
*.bak
*.aux
*.bbl
*.blg
*.log
*.gz
/tools/ipe/
*.zip
*.docx
*.tmp
*.autosave.ipe
